/**************/

/* CSS REMEDY */

/**************/

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
}

button,
summary {
    cursor: pointer;
}





/*********************/

/* CUSTOM PROPERTIES */

/*********************/

:root {
    /* startje */
    --color-text: #111;
    --color-background: #fff;
    --header background-color: ##222;
    --nav background-color: #525050;
    --em background-color: #E73E5F;
    --footer background-color: #DDDDDD;
    --navmenu background-color: #F0F0F1;
    --navmenu background-color: #65B664;
    --navmenu background-color: #F19AB7;
    --navmenu background-color: 
    
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
}



button {
    border: none;
    background-color: unset;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}





header h1 {
    position: absolute;
    left: -9999em;
}

/****************/

/* lettertype voor de h2 */

/****************/

h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
}


/****************/

/* lettertype voor de p'tjes */

/****************/

p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

a {
    text-decoration: none;
}







/****************/

/* Header */

/****************/

header {
    display: flex;
    gap: .5em;
    align-items: center;

    background-color: #222;

    display: flex;
}



/****************/

/* Asos logo */

/****************/

/* kleuren omdraaien*/

header img {
    filter: invert(1);
}

header > img {
    width: 4em;

}







/****************/

/* Hamburger button */

/****************/

header > button {
    order: -100;
    height: 2em;
    margin-left: 1em;
}

header > button img {
    height: 100%;

}




/****************/

/* Iconen header rechts */

/****************/

header > ul:nth-of-type(1) {
    display: flex;
    gap: .5em;
    /* mee leren leven als je eigenwijs brackets blijft gebruiken */
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;

}

header > ul button {
    width: 3.125em;
    aspect-ratio: 1/1;
    padding: 0;

    appearance: none;
    border: none;
    background: none;
    font-size: 1em;

    cursor: pointer;
}

header > ul button svg {
    width: 40%;
    height: auto;
}

/****************/

/* iconen Sanne */

/****************/

header > ul button .icon {
    /* de kleur van de pictogrammen */
    /* die kun je veranderen naar wat je wilt */
    fill: white;

}







/******************/

/* hamburger menu */

/******************/

header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: white;

    transform: translateX(-100%);
    transition-duration: 0.5s;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-content: start;
}

/****************/

/* Hamburger menu uitgeklapt */

/****************/

header nav.open {
    transform: translateX(0%);
    z-index: 1;
}

/****************/

/* Kruis icoon */

/****************/

header nav > button:first-of-type {
    height: 2.5em;
    margin: 1em;
}

header nav > button:first-of-type img {
    height: 100%;
    filter: invert(0);
}

header nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

}

header nav ul a {
    display: block;
    background-color: #F0F0F1;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    text-transform: uppercase;
    padding: 3em 1em;
}

header nav ul li:nth-of-type(2) a {
    background-color: #E73E5F;
}

header nav ul li:nth-of-type(3) a {
    background-image: linear-gradient(to right, #65B664, #F19AB7 75%);
}

/****************/

/* menu groot scherm */

/****************/

@media (min-width:42em) {
    header {
        flex-wrap: wrap;
    }
    header > a {
        margin-left: 1em;

    }
    header > button {
        display: none;
    }

    header nav > button:first-of-type {
        display: none;
    }

    header nav {

        position: static;
        transform: none;
        order: 1;
        width: 100%;
        background-color: #525050;

    }

    header nav ul {
        padding:0;
        gap: .5em;
        justify-content: center;
        flex-direction: row;


    }

    header nav ul a {
        background: none;
        padding: 0;
        color: white;
        text-transform: capitalize;
        font-weight: 400;

    }

    header nav ul li:nth-of-type(2),
    header nav ul li:nth-of-type(3) {
        display: none;
    }
}

/****************/

/* Footer */

/****************/

footer {
    background-color: #DDDDDD;
    text-align: end;
}

footer a:first-of-type {
    text-align: left;
}
